@import url('https://fonts.cdnfonts.com/css/montserrat');
*{
    margin: 0;
    padding: 0;
    /*background-color: #10072C;*/
  }
  body{
    font-family: 'Montserrat';
    max-width: 2880px;
  }
  #navbar {
    z-index: 2;
    font-family: 'Montserrat';
    font-size: 18px;
    background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border: 1px solid rgba( 255, 255, 255, 0.18 ); /* Black background color */
    position: fixed; /* Make it stick/fixed */
    top: 0px; /* Hide the navbar 50 px outside of the top view */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
  }
  
  #navbar a:hover {
    background-color:#10072C;
    color: white;
  }
  /*ul {
    position: fixed;
    float: right;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #10072C;
    z-index: 2;
  }
  
  li {
    /*float: right;*/
    /*position: fixed;
    font-family: 'Montserrat';
    font-size: 18px;
    z-index: 2;
  }
  
  li a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }*/
  #start{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: auto;
    background-color: #10072C;
    text-align: center
  }
  #text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #start-text-header{
    font-family: 'Montserrat';
    font-size: 60px;
    color: white;
    padding-bottom: 32px;
    font-weight: bold;
    letter-spacing: 1.2px;
  }
  #start-description{
    font-family: 'Montserrat';
    font-size: 18px;
    color: white;
    width: 500px;
    height: auto;
    letter-spacing: 1.2px;
  }
  #start-mocks{
    /*float: right;*/
    /*position: absolute;
    right: 100px;
    top: 120px;*/
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    max-width: 631px;
    max-height: 699px;
  }
  #start-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 24px;
    margin-top: 64px;
    font-weight: bold;
    letter-spacing: 1.2px;
  }
  #btn-buy{
    background-color: purple;
    border-radius: 38px;
    padding: 17px 30px 17px 30px;
    margin-right: 32px;
  }
  #btn-free{
    background-color: blueviolet;
    border-radius: 38px;
    padding: 17px 30px 17px 30px;
    margin-left: 32px;
  }
  #features{
    display: flex;
    flex-direction: column;
    text-align: center;
    /*justify-content: center;*/
    position: relative;
    height: 350vh;
    width: auto;
    background-color: #0c0c0c;
    color: white;
  }
  .features-back{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #head-text-features{
    font-size: 40px;
    font-weight: bold;
    margin-top: 64px;
  }
  #feature-01{
    padding-top: 128px;
    padding-bottom: 100px;
    max-width: 631px;
    max-height: 699px;
  }
  #feature-01-text{
    max-width: 505px;
    text-align: left;
    padding-top: 400px;
    padding-right: 205px;
    padding-left: 95px;
    color: white;
    font-family: 'Montserrat';
  }
  .head-text{
    font-size: 36px;
    font-weight: bold;
  }
  .desq-text{
    font-size: 18px;
    padding-top: 32px;
  }
  #feature-02{
    padding-top: 128px;
    padding-bottom: 100px;
    max-width: 631px;
    max-height: 699px;
  }
  #feature-02-text{
    max-width: 505px;
    text-align: left;
    padding-top: 400px;
    padding-right: 205px;
    padding-left: 95px;
    color: white;
    font-family: 'Montserrat';
  }
  #feature-03{
    padding-top: 128px;
    padding-bottom: 100px;
    max-width: 631px;
    max-height: 699px;
  }
  #feature-03-text{
    max-width: 505px;
    text-align: left;
    padding-top: 400px;
    padding-right: 205px;
    padding-left: 95px;
    color: white;
    font-family: 'Montserrat';
  }
  #premium-back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: auto;
    background-color: #10072C;
    text-align: center
  }
  #end-back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 80vh;
    width: auto;
    background-color: #d9d9d9;
    text-align: center
  }
  #menu-back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 20vh;
    width: auto;
    background-color: #0c0c0c;
    text-align: center
  }
  #premium-back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #premium-card{
    margin: auto;
    text-align: center;
    margin-top: 64px;
    width: 400px;
    height: 606px;
    background: rgba( 38, 26, 75, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 38px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  #num-head{
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: bold;
    font-family: Montserrat;
    padding-top: 64px;
  }
  #premium-text{
    text-align: center;
    padding-top: 64px;
    color: white;
    font-family: 'Montserrat';
  }